Options +FollowSymLinks
RewriteEngine on
RewriteRule ^(cron|install|old)($|/) - [L]
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3&id2=$4&id3=$5&id4=$6 [NC,L]